body{
    margin: 0%;
    font-family:'Poppins', sans-serif;
    
    
}
.Bg{
    height: 600px;
    background-image: url(donation7.jpg);
    position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgba(0, 0, 0, 0.819);
}
.box{
    padding-top: 10%;
    text-align: center;
    color: aliceblue;

}
.h{
    font-size: 50px;
    padding-bottom: 0%;
}
.button{
    text-decoration: none;
    padding: 10px 50px;
    border-radius: 5%;
    background-color: tomato;
    color: white;
    font-size: 20px;
}
.color{
    color: black;
}

.f{
    background-color: black;
    text-align: center; 
}
.foot{
    color: orange;
    font-family: 'Albert Sans', sans-serif;
}
.L{
    color: aliceblue;
}
.New{
    background-color: bisque;
    
    margin-left: 25%;
    margin-right: 25%;
    padding:50px;
    
}
.s{
    text-decoration: none;
    padding: 9px 50px;
    background-color: tomato;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
    color:white;
}
.in{
    padding: 10px 50px;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    border: 0%;
    border-color: none;
    text-align: left;
    border: none;
}
.wow{
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
}
.childofwow{
    text-align: left;
    margin-right: 2%;
    padding: 3% 2%;
}
#a{
    background-color: rgba(127, 255, 212, 0.768);

}
#b{
    background-color: rgba(246, 176, 176, 0.825);
}
#c{
    background-color: rgba(255, 235, 205, 0.837);
}
.Other{
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}
.ancor{
    inline-size: 60%;
    border-top: none;
    border-left: none;
    border-right: 0;
    margin-bottom: 4%;
    text-align: center;
}
.tak{
    margin-left: 22%;
    margin-right: 25%;
    display: flex;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
.tap{
    border-radius: 5%;
    border-color:rgb(221, 229, 235);
    background-color:rgb(221, 229, 235);
    padding: 30px 28px;
    margin-right: 4%;
    text-align: center;
    font-size: 30px;
}
.tap:hover{
    border-color:rgb(252, 39, 2);
    background-color: rgba(235, 151, 136, 0.45);
    color: rgb(252, 39, 2);
}